<h1>Bienvenido a Auction Site project!!!</h1>
<li><%= link_to "Crear nuevo usuario", "/users/new" %></li>

<li><a href="/users">Listado usuarios</a></li>
<li><%= link_to "Listado productos", "/users/:user_id/products" %></li>