<h1>Bienvenido a Auction Site project!!!</h1>
<li><%= link_to "Crear nuevo usuario", "/users/new" %></li>
<li><%= link_to "Crear nuevo producto", '/users/:user_id/products/new' %></li>
<li><a href="/products/new">Crear nuevo producto</a></li>

<li><a href="/users">Listado usuarios</a></li>
<li><a href="/products">Listado productos</a></li>